body
{
	width:100%;
	margin: 0 40;
	font: caption;
}
.master
{
	background-color: #647687;	
	color: white;
}
.contentDiv
{
	background-color: #3399FF;
	display: inline-block;
	width: 90%;
	padding: 20px;
	margin-left: 30px;
	margin-right: 30px;
	color: #663320;
}
.header
{
	clear: both;
	border-bottom: solid 10px #000066;
	width: 100%;
	height: 130px;
	text-align: center;
	text-decoration: underline;
	font-size: 20px;
	padding-left: 30px;
	padding-top: 5px;
	color: #3399FF;
	background-color: White;
	background-image: url('Images/finki.jpg');
	background-repeat: no-repeat;
	background-position: 30px 10px; 
}
#naslov
{
	text-align: center;
}
#menubar
{
	display:block;
	clear: both;
}
#VremeLabelMaster
{
	display:block;
	clear: both;
}
.menulist {
	float:left;
	display:block;
	margin: 70px 0px 10px 0px;
	//border-bottom: white solid 3px;
	padding: 0px;
	//visibility: hidden;
	clear: both;
}
#menuListId
{
    display:block;
    clear: both;
}
.nav-item{
	color:white;
}
.menulist li
{
	display: block;
	float: left;
	margin: 1px;
	padding: 0 5px;
	width: auto;
	//border-right:white dotted 1px;
	
}
.menulist a {
	color: white;
	text-decoration:none;
	text-transform:inherit;
	font-size: 26px;
}
.menulist a:hover {
		color: #0099FF;
}
.menulist a:active {
		color: #3399FF;
}
.userStatus
{
	margin-right: 70px;
	text-align: right;
	width: 380px;
	display: block;
	float: right;
}
#VremeLabelMaster
{
	display: block;
	float: left;
}
.defaultDiv a
{
	color: #5D7B9D;
}
.changeDataDiv
{
	display: block;
	float: left;	
	text-align: left;
}
.changePasswordDiv
{
	display: block;
	float: right;	
	text-align: left;
}
.createUserDiv
{
	display: block;
	float: right;	
	text-align: right;
}
.loginDiv
{
	
}

.newLine
{
    display: block;
    clear: both;
    margin-left: 35px;
}
#questionRowID
{
    border-bottom: solid, 1px, white;    
    color: Red;
}
#Table1
{
     caption-side: Top; 
     left: 0;
     color: Red;
}
#ctl00_ContentPlaceHolder1_textLabel
{
    display: block;
    float:left;
    clear: both;
    width: 900px;
    padding: 0px 0px 0px 0px;
    margin: 30px 0px 0px 40px;
    font-size: 24px;
            
}
#ctl00_ContentPlaceHolder1_gvSubjects, #ctl00_ContentPlaceHolder1_gvoblasti
{
    margin-left: 35px;
    margin-top: 10px;
}
#ContentPlaceHolder1
{
    display: block;
    clear: both;
    float: left;    
}
#ctl00_ContentPlaceHolder1_startButton
{
    display: block;
    clear: both;
    float: left;
    margin-left: 35px;
    margin-top: 10px;
}
#ctl00_ContentPlaceHolder1_Table1, #ctl00_ContentPlaceHolder1_choicesRadioButtonList
{
    margin-left: 35px;
    margin-top: 10px;
}